"""
Created by joe on 2019/10/27
"""

import logging

# 日志打印配置
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(name)s - %(levelname)s - %(message)s')

# appnium 服务地址
APPNIUM_SERVER = "http://127.0.0.1:4723/wd/hub"

